@model eBookStore.Models.Book
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;


@{
    ViewData["Title"] = "Edit";
}


<h3>Reserve Book</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label mb-3"></label>
                <input asp-for="Title" class="form-control" readonly />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @if (Model != null && Model.Reserve == true)
            {
                @if (signInManager.IsSignedIn(User) && Model.UserName == User?.Identity?.Name)
                {
                    <div class="form-group form-check mt-3">
                        <label class="form-check-label">
                            <input class="form-check-input mb-3" asp-for="Reserve" /> @Html.DisplayNameFor(model => model.Reserve)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-dark mb-3" />
                        <a class="btn bg-dark text-light me-3" asp-action="Index">Back to List</a>
                    </div>

                }
                else
                {
                    <div class="form-group form-check mt-5">
                        <label class="form-check-label">
                            <p>Sorry, has been book by user @Model.UserName</p>
                            <input class="form-check-input" asp-for="Reserve" hidden />
                        </label>
                    </div>
                    <div class="form-group">
                        <a class="btn bg-dark text-light me-3" asp-action="Index">Back to List</a>
                    </div>
                }
            }
            else
            {
                <div class="form-group form-check mt-3">
                    <label class="form-check-label">
                        <input class="form-check-input mb-3" asp-for="Reserve" /> @Html.DisplayNameFor(model => model.Reserve)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn bg-dark text-light me-3" />
                    <a class="btn bg-dark text-light me-3" asp-action="Index">Back to List</a>
                </div>

            }

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
