@namespace eBookStore.Views.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>


<body>
    <div class="container mt-5">
        <h2>Sorry, this page went wrong. Please try again or go to home page and try again!</h2>
    </div>
</body>

