@*@model eBookStore.Models.User*@
@model eBookStore.Models.UserViewModel


@{
    ViewData["Title"] = "Login";
}

@if (Model != null)
 {
    <div class="container">
        <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
            @TempData["notification"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}


<div class="cotainer mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-5 mb-3 h3">Login</h1>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username" required />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" required minlength="6" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button class="btn bg-dark text-light" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>